*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border: 5px solid #636e72 !important;
}

body {
    background-image: url('./dist/image/background.jpeg');
}